<!-- tasks/templates/tasks/task_form.html -->
{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}{% if form.instance.pk %}Edit Task{% else %}New Task{% endif %}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1>{% if form.instance.pk %}Edit Task{% else %}New Task{% endif %}</h1>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title|add_class:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description|add_class:"form-control" }}
            </div>
            <div class="form-group d-flex align-items-center">
                {{ form.done.label_tag }}
                {{ form.done|add_class:"ml-2 mb-1" }}
            </div>
            <button type="submit" class="btn btn-success">{% if form.instance.pk %}Update{% else %}Create{% endif %} Task</button>
        </form>
        <a href="{% url 'task_list' %}" class="btn btn-secondary mt-3">Back to List</a>
    </div>
</div>
{% endblock %}
