{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Task List</h1>
        <a href="{% url 'task_create' %}" class="btn">Add New Task</a>
        <ul>
            {% for task in tasks %}
            <li class="{% if task.done %}done{% endif %}">
                <span>{{ task.title }}</span>
                <div class="task-actions">
                    <a href="{% url 'task_detail' task.id %}" class="btn">Details</a>
                    <a href="{% url 'task_edit' task.id %}" class="btn">Edit</a>
                    <a href="{% url 'task_delete' task.id %}" class="btn">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
